@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:link {
    color: rgb(197, 211, 211); text-decoration:none;
}
a:visited {
    color: rgb(197, 211, 211); text-decoration:none;
}
a:active {
    color: rgb(197, 211, 211); text-decoration:none;
}
a:hover {
    color:rgb(197, 211, 211); text-decoration:none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.up-header {
    display: flex;
    max-width: 1440px;
    max-height: 67px;
    width: 100%;
    height: 100%;
    padding: 2px 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(254, 200, 11, 1);
}

.up-header__logo {
    width: 360px;
    height: 44px;
}
.up-header__logo a {
    display: flex;
    align-items: center;
}
.up-header__logo :nth-child(1) {
    margin-right: 10px;
}
.up-header__logo p {
    padding-left: 8px;
    width: 175px;
    height: 30px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
    color: rgba(0, 0, 0, 1);

}
.up-header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up-header__connection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up-header__connection img {
    width: 46px;
    height: 46px;
}
.up-header__connection a {
    margin-left: 24px;
}
.up-header__phone-numbers {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 61px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    color: rgba(161, 161, 161, 1);
}
.up-header__opening-hours {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    color: rgba(161, 161, 161, 1);
}
.up-header__opening-hours :nth-child(1) {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: rgba(0, 0, 0, 1);
}
.up-header__opening-hours img {
    width: 12px;
    height: 19px;
}

.dowp-header {
    display: flex;
    max-width: 1440px;
    max-height: 73px;
    width: 100%;
    height: 100%;
    padding: 16px 60px;
    align-items: center;
    justify-content: space-between;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    color: rgba(161, 161, 161, 1);
}
.dowp-header__navigations {
    display: flex;
    align-items: center;
}
.dowp-header__navigations a {
    border: none;
}
.dowp-header__navigations img {
    width: 138px;
    height: 42px;
}
.dowp-header__navigations-panels {
    margin-left: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dowp-header__navigations-panels span {
    margin: 0px 16px;
    display: flex;
    align-items: center;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: rgba(0, 0, 0, 1);
}
.dowp-header__navigations-panels img {
    width: 12px;
    height: 19px;
    margin-left: 5px;
    margin-top: -3px;
}
.dowp-header__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dowp-header__search {
    position: relative;
    width: 312px;
    height: 36px;
}
.dowp-header__search input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 1px solid rgba(254, 200, 11, 1);
    
}
.dowp-header__search button {
    position: absolute;
    top: 4px;
    right: 12px;
    border: none;
    background-color: rgba(255, 255, 255);
    font-size: 26px;
}
.dowp-header__panel a {
    cursor: pointer;
    margin-left: 16px;
}
.dowp-header__panel img {
    width: 39px;
    height: 39px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    max-width: 1440px;
    width: 100%;
    height: 566px;
    background-image: url(./image/fon_about.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
}
.banner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 820px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    padding-left: 60px;
}
.banner__info h2 {
    max-width: 454px;
    width: 100%;
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
}
.banner__info p {
    max-width: 454px;
    margin-top: 16px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
}
.banner__buttom {
    margin-top: 56px;
    max-width: 454px;
    display: flex;
}
.banner__buttom :nth-child(1) {
    width: 185px;
    height: 44px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    border: none;
    background-color: rgba(254, 200, 11, 1);
}
.banner__buttom :nth-child(2) {
    margin-left: 16px;
    width: 185px;
    height: 44px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 2px solid rgba(254, 200, 11, 1);
    background-color: transparent;
    transition: 0.3s;
}
.banner__buttom :nth-child(2):hover {
    background-color: rgba(254, 200, 11, 1);
    color: rgba(0, 0, 0, 1);
    
}

.categories {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 80px 60px 0px 60px;
    z-index: 100;
}
.categories__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories__title h2 {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 50.4px;
    color: rgba(0, 0, 0, 1);
}
.categories__lines {
    display: flex;
    align-items: center;
}
.categories__lines span {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(161, 161, 161, 1);
    margin-right: 13px;
}
.categories__lines button {
    width: 39px;
    height: 39px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    transition: 0.3s;
}
.categories__lines i {
    font-size: 24px;
}
.categories__lines button:hover {
    background-color: rgba(254, 200, 11, 1);
}
.categories__cells {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.categories__cells a {
    width: 312px;
    height: 338px;
    padding: 18px 14px 14px 14px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
    transition: 0.3s;
}
.categories__cells a:hover {
    border: 1px solid rgba(254, 200, 11, 1);

}
.categories__cells-name h3 {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(0, 0, 0, 1);
}
.categories__cells-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.categories__cells-name p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: rgba(161, 161, 161, 1);
}
.categories__cells img {
    width: 230px;
    height: 230px;
}

.about-company {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 80px 0px 0px 60px;
}
.about-company__text-info {
    max-width: 661px;
    width: 100%;
    z-index: 5;
}
.about-company__text-info h3 {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 50.4px;
    color: rgba(0, 0, 0, 1);
}
.about-company__text-info span {
    color: rgba(254, 200, 11, 1);
}
.about-company__text-info p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    margin-top: 22px;
    width: 536px;
}
.about-company__text-info button {
    width: 175px;
    height: 44px;
    margin-top: 64px;
    border: none;
    border-radius: 4px;
    background-color: rgba(254, 200, 11, 1);
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-company__text-info button:hover {
    background-color: rgba(255, 212, 58, 1);

}
.about-company__image {
    width: 100%;
    max-width: 900px;
    height: 470px;
    margin-left: -80px;
}
.about-company__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.about-company__text-info img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}


.achievements {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    padding: 53px 172px 65px 60px;
    background-color: rgba(254, 200, 11, 1);
}
.achievements__info {
    max-width: 312px;
    max-height: 263px;
    width: 100%;
    height: 100%;
}
.achievements__info h3 {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    color: rgba(0, 0, 0, 1);
}
.achievements__info span {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    color: rgba(0, 0, 0, 1);
}
.achievements__info p {
    margin-top: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}

.production {
    margin-top: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 0px 60px 156px 0px;
}
.production__presentation{
    position: relative;
    width: 800px;
}
.production__presentation img {
    width: 590.5px;
    height: 589px;
}
.production__paragraph a {
    position: absolute; 
}
.production__paragraph :nth-child(1) {
    display: flex;
    align-items: center;
    top: 38px;
    left: 383px;
}
.production__paragraph :nth-child(2) {
    display: flex;
    align-items: center;
    top: 154px;
    left: 488px;
}
.production__paragraph :nth-child(3) {
    display: flex;
    align-items: center;
    top: 276px;
    left: 518px;
}
.production__paragraph :nth-child(4) {
    display: flex;
    align-items: center;
    top: 400px;
    left: 492px;
}
.production__paragraph :nth-child(5) {
    display: flex;
    align-items: center;
    top: 510px;
    left: 400px;
}
.production__paragraph p {
    width: 279px;
    height: 44px;
    margin-left: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}
.production__circle {
    border-radius: 100%;
    width: 17.5px;
    height: 17.5px;
    border: 3px solid rgba(254, 200, 11, 1);
    background-color: rgba(254, 200, 11, 1);
}
.production__about {
    padding: 0px 0px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 451px;
    height: 377px;
    border-left: 3px solid rgb(254, 200, 11);
}
.production__about img {
    width: 64px;
    height: 64px;
}
.production__about p {
    margin-top: 32px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: rgba(0, 0, 0, 1);
}


@media (max-width: 1388px) {
    .categories {
        padding: 80px 23px 0px 23px;
    }
}
@media (max-width: 1320px) {
    .categories__cells {
        justify-content: space-around;
    }
    .categories__cells a {
        width: 228px;
        height: 247px;
        padding: 18px 12px 12px 12px;
       
    }
    .categories__cells img {
        width: 143px;
        height: 143px;
    }
    .achievements {
        padding: 44px 24px 31px 24px;
    }
    .about-company {
        flex-direction: column;
    }
    .about-company__text-info button {
        display: none;
    }
    .about-company__image {
        height: 100%;
        max-width: 1320px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .achievements {
        margin-top: 0px;
    }
}
@media (max-width: 1200px) {
    .up-header {
        padding: 2px 24px;
    }
    .dowp-header {
        padding: 16px 24px;
    }
    .banner__info {
        padding-left: 24px;
    }
}
@media (max-width: 1122px) {
    .dowp-header__navigations-panels {
        display: none;
    }
    .up-header {
        padding: 2px 24px;
    }
    .dowp-header {
        padding: 16px 24px;
    }
    .banner__info {
        padding-left: 24px;
    }
    .up-header__logo {
        width: 159px;
    }
    .up-header__logo :nth-child(2) {
        display: none;
    }
    .up-header__logo :nth-child(3) {
        display: none;
    }
}
@media (max-width: 1000px) {
    .categories__cells :nth-child(4) {
        display: none;
    }
    .achievements__info {
        max-width: 228px;
        max-height: 265.52px;
    }
    .achievements__info p {
        margin-top: 16.86px;
        font-size: 16px;
        line-height: 20.8px;
    }
}


@media (max-width: 870px) {
    .up-header__opening-hours :nth-child(1) {
        display: none;
    }
    .up-header__opening-hours {
        width: 161px;
        height: 36px;
    }
}
@media (max-width: 761px) {
    .up-header__opening-hours {
        display: none;
    }
    .categories__cells {
        justify-content: space-between;
        max-width: 761px;
        width: 100%;
    }
    .achievements {
        display: flex;
        flex-direction: column;
    }
    .achievements__info {
        max-width: 288px;
        max-height: 216.06px;
        margin-bottom: 40px;
    }
    .achievements__info h3 {
        font-size: 80px;
        line-height: 80px;
    }
    .achievements__info p {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
    }
    .about-company__text-info p {
        width: 598px;
    }
    .about-company {
        padding: 80px 0px 0px 20px;
    }
}
@media (max-width: 700px) {
    .about-company__text-info p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
        width: 100%;
        padding-right: 20px;
    }
}
@media (max-width: 621px) {
    .up-header {
        max-height: 62px;
    }
    .up-header__logo :nth-child(1) {
        width: 138px;
        height: 38px;
    }
    .up-header__connection img {
        width: 42px;
        height: 42px;
    }
    .dowp-header {
        max-height: 62px;
        padding: 16px 10px;
    }
    .dowp-header__panel a {
        margin-left: 8px;
    }

    .dowp-header__search input {
        display: none;
    }
    .dowp-header__search {
        width: 100%;
    }
    .up-header__phone-numbers {
        display: none;
    }
    .about-company__text-info h3 {
        font-size: 28px;
        line-height: 33.6px;
    }
}
@media (max-width: 432px) {
    .banner__buttom {
        flex-direction: column;
    }
    .banner__buttom :nth-child(2) {
        margin: 6px 0px 0px 0px;
    }
}
@media (max-width: 351px) {
    .banner__info p {
        display: none;
    }
    .banner__info {
        justify-content: start;
        padding-top: 30px;
        max-width: 340px;
    }
    .banner__info h2 {
        max-width: 288px;
        width: 100%;
        font-family: "Fira Sans", serif;
        font-weight: 800;
        font-size: 32px;
        line-height: 38.4px;
        color: rgba(255, 255, 255, 1);
    }
    .banner {
        width: 100%;
        height: 320px;
    }
}